<html>

<head>
    <meta charset="utf-8">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
    </style>
    <style>
        h1 {
            font-family: 'Reenie Beanie', cursive;
            font-size: 80px;
            margin: 5px
        }

        li {
            font-family: 'Raleway';
            font-size: 12px;
        }
    </style>
</head>

<body>
    <h1>Full Cycle Rocks!</h1>
    <hr />
</body>

</html>